p {
    background-color: orangered;
}
p:first-of-type {
    color: violet;
}
div{
    height: 100px;
    width:100px;
    text-align: center;
    font-size: 20px;
    background-color: tomato;
}
div.containe {
    border: 2px solid green;
}